<a href="https://colab.research.google.com/github/AisyatunNafisah/Project_dibimbing/blob/main/AisyatunNafisah_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rincian Tugas

1. Carilah sebuah dataset (dari kaggle ataupun website lainnya)
2. Lakukan Exploratory Data Analysis pada dataset tersebut.
EDA yang dilakukan WAJIB melakukan Handling Missing Value
dan Duplicate
Proses EDA yang lain bersifat opsional (e.g. handling outlier, encoding)
3. Buat portfolio dalam bentuk Power Point
4. Upload di LinkedIn dan tag dibimbing.id

1. membaca dataset (untuk tugas ini saya cari dataset dari kaggle)

In [1]:
import pandas as pd
df = pd.read_csv('/content/mental_health_workplace_survey.csv')
df

,EmployeeID,Age,Gender,Country,JobRole,Department,YearsAtCompany,WorkHoursPerWeek,RemoteWork,BurnoutLevel,...,CommuteTime,HasMentalHealthSupport,ManagerSupportScore,HasTherapyAccess,MentalHealthDaysOff,SalaryRange,WorkLifeBalanceScore,TeamSize,CareerGrowthScore,BurnoutRisk
0,1001,50,Male,UK,Sales Associate,HR,14,47,No,3.37,...,117,No,3.15,Yes,8,40K-60K,8.82,6,9.20,0
1,1002,36,Male,Germany,Software Engineer,IT,1,59,Hybrid,7.39,...,8,Yes,4.40,Yes,4,80K-100K,2.80,45,8.46,1
2,1003,29,Non-binary,India,IT Admin,IT,13,59,Hybrid,7.10,...,75,No,3.63,No,6,80K-100K,7.28,7,7.96,1
3,1004,42,Male,Australia,HR Specialist,IT,15,31,Yes,4.18,...,43,Yes,4.50,Yes,9,60K-80K,1.31,11,8.90,0
4,1005,40,Male,Brazil,Customer Support,Support,6,34,Yes,8.28,...,58,Yes,5.51,Yes,6,<40K,1.17,18,8.88,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3996,28,Female,Brazil,Marketing Manager,Sales,18,46,No,2.86,...,4,Yes,6.97,No,1,80K-100K,7.71,21,7.70,0
2996,3997,24,Male,Brazil,Customer Support,Marketing,14,31,No,2.43,...,1,Yes,5.58,Yes,0,60K-80K,3.76,2,2.59,0
2997,3998,22,Female,Canada,Marketing Manager,Marketing,0,38,No,6.87,...,25,No,3.81,No,0,40K-60K,3.03,2,6.95,0
2998,3999,57,Non-binary,Australia,Data Scientist,HR,2,41,No,3.62,...,24,No,9.72,No,3,100K+,6.02,37,9.06,0
2999,4000,46,Non-binary,India,Software Engineer,IT,17,48,No,9.77,...,49,No,8.21,No,7,60K-80K,7.89,37,1.09,1

2. Melihat ringkasan data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EmployeeID              3000 non-null   int64
 1   Age                     3000 non-null   int64
 2   Gender                  3000 non-null   object
 3   Country                 3000 non-null   object
 4   JobRole                 3000 non-null   object
 5   Department              3000 non-null   object
 6   YearsAtCompany          3000 non-null   int64
 7   WorkHoursPerWeek        3000 non-null   int64
 8   RemoteWork              3000 non-null   object
 9   BurnoutLevel            3000 non-null   float64
 10  JobSatisfaction         3000 non-null   float64
 11  StressLevel             3000 non-null   float64
 12  ProductivityScore       3000 non-null   float64
 13  SleepHours              3000 non-null   float64
 14  PhysicalActivityHrs     3000 non-null   float64
 15  CommuteTime             3000 non-null   int64
 16  HasMentalHealthSupport  3000 non-null   object
 17  ManagerSupportScore     3000 non-null   float64
 18  HasTherapyAccess        3000 non-null   object
 19  MentalHealthDaysOff     3000 non-null   int64
 20  SalaryRange             3000 non-null   object
 21  WorkLifeBalanceScore    3000 non-null   float64
 22  TeamSize                3000 non-null   int64
 23  CareerGrowthScore       3000 non-null   float64
 24  BurnoutRisk             3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

3. Mengecek missing value

In [3]:
df.isna().sum()

EmployeeID                0
Age                       0
Gender                    0
Country                   0
JobRole                   0
Department                0
YearsAtCompany            0
WorkHoursPerWeek          0
RemoteWork                0
BurnoutLevel              0
JobSatisfaction           0
StressLevel               0
ProductivityScore         0
SleepHours                0
PhysicalActivityHrs       0
CommuteTime               0
HasMentalHealthSupport    0
ManagerSupportScore       0
HasTherapyAccess          0
MentalHealthDaysOff       0
SalaryRange               0
WorkLifeBalanceScore      0
TeamSize                  0
CareerGrowthScore         0
BurnoutRisk               0
dtype: int64

disini saya  melakukan observasi

In [13]:
# cek statiscial summary
df.describe()

,EmployeeID,Age,YearsAtCompany,WorkHoursPerWeek,BurnoutLevel,JobSatisfaction,StressLevel,ProductivityScore,SleepHours,PhysicalActivityHrs,CommuteTime,ManagerSupportScore,MentalHealthDaysOff,WorkLifeBalanceScore,TeamSize,CareerGrowthScore,BurnoutRisk
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.00000,3000.00000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000,3000.00000,3000.000000,3000.000000
mean,2500.500000,40.805667,10.099333,44.504000,5.509137,5.43750,5.51535,5.51956,6.539000,5.030400,59.227000,5.44254,4.544667,5.450950,25.20100,5.520680,0.326667
std,866.169729,11.011705,6.035032,8.491526,2.574072,2.59443,2.60361,2.60761,1.441876,2.861026,34.809779,2.59740,2.854129,2.602379,14.08645,2.566861,0.469072
min,1001.000000,22.000000,0.000000,30.000000,1.000000,1.00000,1.00000,1.00000,4.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.00000,1.000000,0.000000
25%,1750.750000,31.000000,5.000000,37.000000,3.300000,3.18000,3.26000,3.28000,5.300000,2.600000,29.000000,3.16000,2.000000,3.160000,13.00000,3.300000,0.000000
50%,2500.500000,41.000000,10.000000,45.000000,5.480000,5.43000,5.49500,5.49000,6.600000,5.000000,59.000000,5.44000,5.000000,5.425000,25.00000,5.580000,0.000000
75%,3250.250000,50.000000,15.000000,52.000000,7.640000,7.68000,7.82250,7.80250,7.800000,7.500000,90.000000,7.69000,7.000000,7.730000,37.00000,7.642500,1.000000
max,4000.000000,59.000000,20.000000,59.000000,10.000000,10.00000,10.00000,10.00000,9.000000,10.000000,119.000000,9.99000,9.000000,10.000000,49.00000,9.990000,1.000000

4. mengatasi missing value

In [6]:
# Mengatasi missing value
for column in df.columns:
    if df[column].isnull().any(): # Penting: Hanya proses kolom yang memiliki NaN
        if df[column].dtype == 'object':
            # Jika kolom bertipe object, isi dengan mode dan assign kembali
            df[column] = df[column].fillna(df[column].mode()[0])
            print(f"  --> Kolom '{column}' (object): NaN diisi dengan modus '{df[column].mode()[0]}'")
        else:
            # Jika kolom bertipe numerik, isi dengan mean dan assign kembali
            # Menggunakan pd.api.types.is_numeric_dtype untuk cek yang lebih robust
            if pd.api.types.is_numeric_dtype(df[column]):
                mean_val = df[column].mean()
                df[column] = df[column].fillna(mean_val)
                print(f"  --> Kolom '{column}' (numeric): NaN diisi dengan rata-rata '{mean_val:.2f}'")
            else:
                print(f"  --> Kolom '{column}': Tipe data tidak numerik, tidak diisi.")
    else:
        print(f"  --> Kolom '{column}': Tidak ada NaN.")

print("\n--- Proses Imputasi Selesai ---")
# Anda bisa cek df.info() atau df.isnull().sum() lagi setelah ini

  --> Kolom 'EmployeeID': Tidak ada NaN.
  --> Kolom 'Age': Tidak ada NaN.
  --> Kolom 'Gender': Tidak ada NaN.
  --> Kolom 'Country': Tidak ada NaN.
  --> Kolom 'JobRole': Tidak ada NaN.
  --> Kolom 'Department': Tidak ada NaN.
  --> Kolom 'YearsAtCompany': Tidak ada NaN.
  --> Kolom 'WorkHoursPerWeek': Tidak ada NaN.
  --> Kolom 'RemoteWork': Tidak ada NaN.
  --> Kolom 'BurnoutLevel': Tidak ada NaN.
  --> Kolom 'JobSatisfaction': Tidak ada NaN.
  --> Kolom 'StressLevel': Tidak ada NaN.
  --> Kolom 'ProductivityScore': Tidak ada NaN.
  --> Kolom 'SleepHours': Tidak ada NaN.
  --> Kolom 'PhysicalActivityHrs': Tidak ada NaN.
  --> Kolom 'CommuteTime': Tidak ada NaN.
  --> Kolom 'HasMentalHealthSupport': Tidak ada NaN.
  --> Kolom 'ManagerSupportScore': Tidak ada NaN.
  --> Kolom 'HasTherapyAccess': Tidak ada NaN.
  --> Kolom 'MentalHealthDaysOff': Tidak ada NaN.
  --> Kolom 'SalaryRange': Tidak ada NaN.
  --> Kolom 'WorkLifeBalanceScore': Tidak ada NaN.
  --> Kolom 'TeamSize': Tidak ada NaN.
  --> Kolom 'CareerGrowthScore': Tidak ada NaN.
  --> Kolom 'BurnoutRisk': Tidak ada NaN.

--- Proses Imputasi Selesai ---

5. cek kembali missing value

In [7]:
df.isna().sum()

EmployeeID                0
Age                       0
Gender                    0
Country                   0
JobRole                   0
Department                0
YearsAtCompany            0
WorkHoursPerWeek          0
RemoteWork                0
BurnoutLevel              0
JobSatisfaction           0
StressLevel               0
ProductivityScore         0
SleepHours                0
PhysicalActivityHrs       0
CommuteTime               0
HasMentalHealthSupport    0
ManagerSupportScore       0
HasTherapyAccess          0
MentalHealthDaysOff       0
SalaryRange               0
WorkLifeBalanceScore      0
TeamSize                  0
CareerGrowthScore         0
BurnoutRisk               0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EmployeeID              3000 non-null   int64
 1   Age                     3000 non-null   int64
 2   Gender                  3000 non-null   object
 3   Country                 3000 non-null   object
 4   JobRole                 3000 non-null   object
 5   Department              3000 non-null   object
 6   YearsAtCompany          3000 non-null   int64
 7   WorkHoursPerWeek        3000 non-null   int64
 8   RemoteWork              3000 non-null   object
 9   BurnoutLevel            3000 non-null   float64
 10  JobSatisfaction         3000 non-null   float64
 11  StressLevel             3000 non-null   float64
 12  ProductivityScore       3000 non-null   float64
 13  SleepHours              3000 non-null   float64
 14  PhysicalActivityHrs     3000 non-null   float64
 15  CommuteTime             3000 non-null   int64
 16  HasMentalHealthSupport  3000 non-null   object
 17  ManagerSupportScore     3000 non-null   float64
 18  HasTherapyAccess        3000 non-null   object
 19  MentalHealthDaysOff     3000 non-null   int64
 20  SalaryRange             3000 non-null   object
 21  WorkLifeBalanceScore    3000 non-null   float64
 22  TeamSize                3000 non-null   int64
 23  CareerGrowthScore       3000 non-null   float64
 24  BurnoutRisk             3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

# **PROSES DUPLIKAT DATA**
6. mengecek duplicate

In [9]:
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 0

7. handling duplicate

In [11]:
df = df.drop_duplicates()

8. cek duplicate setelah di handle

In [12]:
handle_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {handle_duplicate}")

Jumlah data yang duplikat = 0